<!DOCTYPE html>
<html lang="en">
{% load i18n %}
{% load static %}

<head charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>school 29</title>
  <meta name="description" content="">
  <meta name="keywords" content="">


  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link rel="stylesheet" href="{% static 'css/map.css' %}">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/aos/aos.css" rel="stylesheet' %}">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <!-- Main CSS File -->
  <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>

<body class="index-page">

  {% include "header.html" %}
  <style>
    .hero-img img {
      width: 100%;
      max-width: 100%;  /* Ensures the image does not overflow */
      height: auto;
      transform: scale(1.2); /* Scales the image up */
      transition: transform 0.3s ease-in-out; /* Adds a smooth transition */
    }
    
    .hero-img img:hover {
      transform: scale(1.3); /* Makes the image a bit bigger on hover */
    }
  </style>
  <main class="main">
    
    <!-- About Section -->
    <section id="about" class="about section" style="background-color: #f4f5fe; background: url(/static/img/header1.png); margin-top: 60px;">
      <div class="container section-title" data-aos="fade-up">
        <h2>{% trans "Maktab" %}</h2>
        <div><span>{% trans "Yangiliklari" %}</span></div>

      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row align-items-xl-center gy-5">

          <!-- Last post in one div -->
          {% for post in news_list %}
              <div class="col-xl-5 content">
                <a href="{% url 'news_detail' post.pk%}">
                  <div class="image-container" style="border-radius: 8px 8px 0 0 ;">
                      <img src="{{ post.main_image.url }}" style="margin: 0;">
                      <div class="date-container">
                          <span class="day">{{ post.date.day }}</span>
                          <div class="month-year">
                              <span class="month">{{ post.date|date:"F" }}</span>
                              <span class="year">{{ post.date|date:"Y" }}</span>
                          </div>
                      </div>
                      <div class="icon-box" style="border-radius: 0 0 8px 8px;">
                        <h3 style="background:none; color: #040677;">{{ post.sarlavha }}</h3>
                        </div>
                  </div>
                </a>
              </div>
            
          {% endfor %}


      </div>
      

    </section><!-- /About Section -->


  </main>

  {% include "footer.html" %}

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>


  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/map.js' %}"></script>

</body>

</html>